<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="First_testsuite_Test">
    <classes>
      <class name="testng.Sammple2Test"/>
      <class name="testng.SampleTest"/>
    </classes>
  </test> <!-- First_testsuite_Test -->
</suite> <!-- Suite -->
